{% extends '_base.html' %}

{% block content %}
<div class="section">
    {% for row in COPY.slides %}
    <div class="slide {% if row.class%}{{ row.class }}{% endif %}" {% if row.image%} style="background-image: url(  
https://s3.amazonaws.com/wbez-assets/Slideshows/cubs-world-series/images/{{ row.image }})"{% endif %} {% if row.id%} id="{{ row.id }}"{% endif %} {% if row.data%} data-state="{{ row.data }}"{% endif %}>
        {% include "%s.html" % (row.template) ignore missing %}
    </div>
    {% endfor %}
</div>
<div class="controls">
    <div class="previous"><i class="fa fa-chevron-left"></i></div>
    <div class="next"><i class="fa fa-chevron-right"></i></div>
</div>
{% endblock content%}